h1 The Park Camper
html
    head
        title Natours | Exciting tours for adventurous people
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

        link(rel='stylesheet' type='image/png' href='img/favicon.png')
    body
        h1= tour
        p this is some text 
